.container {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column; /* mette titolo sopra e pulsanti sotto */
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin-top: 40px;
  margin-bottom: 80px; /* distanza dal gruppo dei pulsanti */
  font-size: 48px;
}

body {
  background-image: url("../Locazione1/sfondoIndex.jpg");  /* nome del tuo file */
  background-size: cover;               /* l’immagine copre tutto lo schermo */
  background-position: center;          /* centrata */
  background-repeat: no-repeat;         /* non ripetuta */
  background-attachment: fixed;         /* resta ferma quando scrolli */
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Titolo 
{
  text-align: center;
  width: 80%;
  max-width: 900px; /* limite per non allargarsi troppo su schermi grandi */
}

.Porte
{
  width: 100%;
  display: flex;
  justify-content: space-between; /* sinistra - centro - destra */
  align-items: center;
  margin-top: 80px;
}

button
{
    background-color: #08e7f7;
    color: rgb(0, 0, 0);
    border: 2px solid white;
}

p
{
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.angolo-sinistro {
  position: absolute;
  top: 100px;      /* spostata più in basso per lasciare spazio alla scritta */
  left: 20px;
  width: 180px;    /* leggermente più grande */
  height: auto;
  -webkit-user-drag: none; /* non trascinabile */
  user-select: none;
}